{% load static %}
<!DOCTYPE html>
<html lang="en"> 
  
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/logo5.png' %}" type="image/x-icon">
    <link rel="basic_style_for_index" as="style" href="{% static 'assets/css/error_pages.css' %}"><link rel="stylesheet" href="{% static 'assets/css/error_pages.css' %}" type="text/css">
    <title>
        403 Forbidden
    </title>
</head>
<body>
    <div class="error-container"> 
        <h1> 403 :(</h1>
        <br>
        <p>
            Вибачте, ви не маєте доступу до цієї сторінки. Будь ласка, зверніться до адміністратора сайту для отримання додаткової інформації.
        </p>
        <br>
        <a href="https://your-support.com.ua/"> Перейти на головну</a>
    </div> 
</body> 
  
</html>
