{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/logo5.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/error_pages.css' %}" type="text/css">
    <title>
        404 Page Not Found 
    </title>
</head>
<body>
    <div class="error-container"> 
        <h1> 404 :(</h1>
        <br>
        <p>
            Ой! Сторінка, яку Ви шукали не тут.
        </p>
        <br>
        <a href="https://your-support.com.ua/"> Перейти на головну</a>
    </div> 
</body> 
  
</html>
