{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/logo5.png' %}" type="image/x-icon">
    <link rel="basic_style_for_index" as="style" href="{% static 'assets/css/error_pages.css' %}"><link rel="stylesheet" href="{% static 'assets/css/error_pages.css' %}" type="text/css">
    <title>
        500 Internal Server Error
    </title>
</head>
<body>
    <div class="error-container">
        <h1> 500 :(</h1>
        <br>
        <p>
            Щось пішло не так... Ми вже робимо все можливе, щоб виправити це! 🛠️
        </p>
        <br>
        <a href="https://your-support.com.ua/"> Перейти на головну</a>
    </div> 
</body> 
  
</html>
